-
  const i18n = {
    locale: "en",
    profile: {
      title: "Student Profile",
      settings: "Settings",
      promo: "Promo Code",
      access: "Access as a gift",
      teach: "Teacher's",
      mentor: "Mentoring",
      marketing: "Marketing",
      help: "Help",
      off: "Log off",
    }
  };