-
  const i18n = {
    locale: "ru",
    profile: {
      title: "Профиль студента",
      settings: "Настройки",
      promo: "Промокод",
      access: "Доступ в подарок",
      teach: "Учительская",
      mentor: "Менторство",
      marketing: "Маркетинг",
      help: "Помощь",
      off: "Выйти",
    }
  };


