-
  const head = ["№","Профессия","Описание","Срок"]

  const body = [
    ["1","Фронтенд-программист","Разработка фронтенд-компонентов веб-приложений","8 месяцев"],
    ["2","Python-программист","Разработка веб-приложений на Django","8 месяцев"],
  ]

mixin table(head = [], body = [])
  table
    thead
      tr
        each value in head
          th= value
    tbody
      each values in body
        tr
          each value in values
            td= value

+table(head, body)
